<div class="col mb-5">
  <div class="card h-100">
    {% if card.status == 'new' %}
    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Nowy</div>
    {% endif%}
    <!-- Product image-->
    <img class="card-img-top" src="{{card.picture}}" />
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">{{card.name}}</h5>
        <!-- Product price-->
        <h6>Cena: {{card.maxPrice}} zł</h6>
        <p>{{card.shortDescription}}</p>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      {% if card.winner is not none %}
      <h6 class="text-center text-success"><i class="bi bi-trophy"></i> {{card.winner}}</h6>
      {% endif %}
      <div class="text-center">
        {% if card.status != "finished" %}
        {% include 'tools/bidModal.html' %}
        {% endif %}
        {% include 'tools/detailModal.html' %}
      </div>
    </div>
  </div>
</div>