<footer class="py-5 bg-dark">
    <div class="container">
        <ul class="m-0 text-center text-white" style="list-style-type: none">
            <li><i class="bi bi-building"></i> SZWAK I SPÓŁKA SP. Z O.O.</li>
            <li><i class="bi bi-geo-alt"></i> ul. DĄBROWSKIEGO 77A, 60-529 POZNAŃ / POLAND</li>
            <li><i class="bi bi-telephone"></i> TEL: +48 61 646 06 40</li>
            <li><i class="bi bi-envelope-open"></i> NATALIA.ZAWADZKA@SZWAK.PL</li>
        </ul>
    </div>
</footer>